<p class="UsersNew-title"> Welcome New User</p>
<section class="UsersNew">
    <%= form_with url: users_path do |form|%>
        <div class="Form-section">
            <p class="Font-label">First Name:</p>
            <%= form.text_field :first_name, class: "Form-input", placeholder: "First Name" %>
        </div>
        <div class="Form-section">
            <p class="Font-label">First Name:</p>
            <%= form.text_field :last_name, class: "Form-input", placeholder: "First Name" %>
        </div>
        <div class="Form-section">
            <p class="Font-label">Email</p>
            <%= form.email_field :email, class: "Form-input", placeholder: "Email" %>
        </div>
        <div class="Form-section">
            <p class="Font-label">Password</p>
            <%= form.password_field :password, class: "Form-input", placeholder: "Password" %>
        </div>
        <div class="Form-section">
            <%= form.submit "Sign Up!", class: "btn--pleasant UserBtn" %>
        </div>
    <% end %>
</section>