<section>
  <div class="block--flex pad">
    <h3 class="due-head"><%= section_title %></h3>
    <p class="overdue-dones--info"><%= todos.completed.count%>/<%= todos.count%></p>
  </div>
  <ul>
    <% todos.each do |todo|%>
        <li class="ul__li--todo block--flex">
          <%= form_with(url: "todos/#{todo.id}", method: "put") do %>
            <input type="checkbox" name="completed" onclick="this.form.submit()" <%= todo.completed ? "checked": ""%> class="li__input--big" />
          <% end %>
          <p class= <%= todo.completed ? "TodoComp": ""%> ><%= todo.todo_text%></p>
          
          <% if show_due_date%>
              <p class="TodoDates"><%= todo.due_date.to_formatted_s(:short)%></p>
          <% end %>
          
          <%# Submit SaaS 201 Project %>
          <a href="javascript:void(0)" class="a--hide">
            <%= form_with(url: "todos/#{todo.id}", method: "delete") do %>
              <input type="image" class="img--trashcan">
            <% end %>
          </a>
          </li>
    <%end%>
  </ul>
</section>